h1{

}

header{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

header div i{
    border:1px solid black;
    padding:10px;
    border-right:none;
}

header input{
  border: solid 1px black ;
  border-left:none;
  outline:none;
}

header ul{
    list-style: none;
    display: flex;
}

header ul li{
  margin:0px 10px;  
}

header ul li a {
  text-decoration:none;  
}


.search-user{
  display: flex;

}

.container{
  margin:auto;
}